# Configuration file

compat {
    # Immersive Engineering Garden Cloche Compat [default: true]
    B:IMMERSIVE_CLOCHE=true
}


##########################################################################################################
# custom seeds
#--------------------------------------------------------------------------------------------------------#
# Here you can create your own seeds. It generates for you the Seed, Essence, Crop and Mob Chunk.
# For making the recipes you'll need to use CraftTweaker!
# - Syntax: name;tier;color;crux;entity
# - 'name' should be lower case with underscores for spaces.
# - 'tier' should be 1, 2, 3, 4, 5 or 6.
# - 'color' the color of the seed as a hex value. http://htmlcolorcodes.com/
# - 'crux' can be any block, leave this as null if you don't want to use crux
# Example: minecraft:diamond_block
# - 'entity' can be any entity, leave this as null if you don't want mob chunks (If you want more than one entity for the same seed, use "," to separate them)
# Example: minecraft:pig
# Example multiple entities: minecraft:pig,minecraft:witch,twilightforest:naga
# 
# Example for Cake Seeds:
# cake;2;724C1B;null;null
##########################################################################################################

"custom seeds" {
    S:CUSTOM_SEED_LIST <
        fluxed_electrum;4;ec360e;null;null
        psidust;3;dc7bfa;null;null
        psimetal;4;d168f1;null;null
        psigem;4;eb5de2;null;null
        ebony_psimetal;6;202020;psi:psi_decorative:7;null
        ivory_psimetal;6;f3f3f3;psi:psi_decorative:8;null
        ebony_substance;5;323232;null;null
        ivory_substance;5;e3e2e2;null;null
        stygian_iron;3;661616;null;null
        pink_slime;5;f300ff;null;null
        cold_iron;3;838383;null;null
        aurorianite;4;1e7abd;null;null
        cerulean;4;42edf5;null;null
        crystalline;4;b394be;null;null
        moonstone;3;d3d3d3;null;null
        umbra;4;53566a;null;null
        crystal;4;886592;null;null
        petrified_wood;3;523a26;null;null
        neptunium;4;419c8e;null;null
        falsite;3;532c87;null;null
        ventium;3;6f0707;null;null
        horizonite;3;b05626;null;null
        diopside_gemstone;3;44c732;null;null
        pyrope_gemstone;3;f0133e;null;null
        turquoise_gemstone;3;4cf9e1;null;null
        charoite_gemstone;3;956fcd;null;null
        crude_steel;3;858585;null;null
        crystalline_alloy;4;8dedf3;null;null
        melodic_alloy;5;b26df6;null;null
        stellar_alloy;6;fff9e5;enderio:block_alloy_endergy:3;null
        energetic_silver;3;e7e7e6;null;null
     >
}


